dist: trusty
sudo: false
language: php

git:
  depth: 1

notifications:
  email: false

services:
  - mysql

env:
  global:
    - DBTYPE=mysql
    - DBUSER=root
    - secure: "S288kAeEv5c6nN6WUltprGjf+uUEH0/1q2uDVfvqfvefYSOQeQ5ZpnEkJfOAp1e1zqQW2Ff/4gg5D60Vz8TS70NjtlUBWW6RWy7vmvjrPfpOsuKNSep+0PJNkkDLeXMikkCdIcZ/+rCdn95vmV3xgWj2ueINyn5mXHjkcOPms6Sdn0qRAziT+BBI31WcLU4/7138JXs7Oay/BhINfUZq6E0Hv8mze48iTr7B0zBGzH0qPtQjzn86t0KIN6v3lDbU6FMLWZJjKh0ugibji2jjUNWmTqq/4e4qcVZq8bcFoxvQ+QKu26Vgk8b7q6YsKis18sW3cwV4sZprsvun7+K97wyrTqyriLLZyGomcRuczp6CiNAn8xkhTE20miq5Ff2shOm5wtYxzvr/HqzvsV8QjDl65OecSdWNAflmweFpqsLaajL6t03cisRUFU+KxQ5Yu2YEOEtUSsvHAvwlQEsIf6fOp34U+LrGbPSvom7cvbXDK1kgvQGiJqZgsq3vSWFM8KpMrAd9kU8vTs+WOn0ppzEzgVbajF1SYjrxmWZuiIc4CR4obng9sQymYdYnuDAqS4cg2rqQ4L6dQwbVezoobLw8ObjEhru8y7t4CgtGhN8so6UKT1WLIZzl/xg6Jud/mNvDwDptvXoBXXAXp+vppka+RudKgpUu6trgcYI+kQI="
    - secure: "cQxAj3BlT4eVd60X8Zm6TQBQhSbdk0/tx0CNwQRdVpOvcBykcJv2I5YJRtyPEyZuqKEbswM5nZwdpG2K9CUUntB5BbIlRjh4/zFHpiMvQynUPDYG4WUJo8NpnuTfLbRUh0Z/CD90GvnCjp6kdltHpy9Lhy4KYqrsdFxAwX45NkftnBWyZL/4SYR0SlvWsHGfvdGeAm1MBeLmoHFJBEc0116qQF4dhL5ZQxVEy5dqKc18FzuUhNduoiz4TQlsHOw6g+brc9VoqOpzGxODfgGozHfIQyYU6uYtr68ksXNtabfOyGVPHZ8eGbdhtQ2AaD0/VxUdQIINDhSD+U886GvzA32LEduieaDiMtbn9k2eQiVQE0X4fNk61sQFsdrPPNk99S0QYugUc94vDLpUbVPtFlT66GAs8qFedY9xKc2YKAfoupMx0nsE4bHvXw8AKARZs4XB+w9aUGzux8msjM2GUPMogCsYWOrnC+4NI91SYGtWxXvnRW34q5mY3Z1QhZA2Rk1gGje25G/rpn5XkKtUttFsFe8IWHdff1k252HTiInSGTgp/Nnhjb16iN/r4ACWLHbBkqRNBAE/SeZWStFqWO3WnQlQMjYseosqsFBo9pmIpZJligzgndj8v5EhfTOr0Ian5iDrkeOYZ4oKZPAiEWtbnj5RaayzyZmfVdkGQ6o="
    - secure: "qM9BmDBPaj72YTJnvhYBm39uxvenQMEf/pEWzSeO6/B7FGfvtSxdUPz67G0QrGNsbOdUo2y/CppBCltqg/JUvpMHbrtO/vWgFUgPKrZNiyxjhvBjRIebOPc8vjXMeqCeOy5SOl33Uz6YlvYYvM4y9/sLDjgBdgPKHblMloik0r/k27BOo64avfbp0xN3HJAO6AYZ2O7wP5jmjUV8lMdr2O3BMVeP+TsXRr32BQ3SmO+sAvLiDgHnK6qjg9/3KF0GHFV4J044hQ3CXaucSPo0KeH3KarqRakQQ5WdO6m96jX88RrZDFzAJpSdRe/r9F4yDnVNYdECW4f5t2ENl3+LpEsS9LI3dyN3HN+z8t4bNI8J2NkAuUWGgspMIHP+poQSxy4i8009Dcv3CDp7viDpoTZX7dkYHKKodA2jFj3FId0fvaLlO++bvGtIjawrkKRpqH9rjn9jHy2bGl7AFmx8Ttop7p+elwaWXJ5xREWNIN5MXs0s5M402iPRgjibeQa1qp83w/eMQcwHv4LsjuJ1l9UVtXAzuCq/6GY2vc1Rqng64yqvDc9Up5rPJ3zWJbBV/t6vl/UHnAKagSpBoyhexvH73E6Ug449DWGAb7XrvcH3ZjvQdO0rjMULkrebk9SkDMrmvLrbEID2q1Yl/dAZCOTKihOnHV/xXXM9kLsGae8="

matrix:
  include:
    - env: branch=REL1_31
      php: 7.2
    - env: branch=REL1_27
      php: 7.1
    - env: branch=REL1_27
      php: 5.6

cache:
  directories:
    - buildcache

before_script:
  - phpenv config-rm xdebug.ini
  - bash -ex ./tests/travis/build_mediawiki.sh "$branch"
  - rsync -a --exclude buildcache --exclude mediawiki --exclude .git * mediawiki/extensions/AWS/
  - cd mediawiki/extensions/AWS && composer install && cd -
  - cd mediawiki
  - >
      php maintenance/install.php traviswiki admin
      --pass travis
      --dbtype "$DBTYPE"
      --dbname traviswiki
      --dbuser "$DBUSER"
      --dbpass ""
      --scriptpath "/w"
  - echo -en "\n\nrequire_once __DIR__ . '/includes/DevelopmentSettings.php';\n" >> ./LocalSettings.php
  - echo -en "\n\nrequire_once __DIR__ . '/extensions/AWS/tests/travis/AWSSettings.php';\n" >> ./LocalSettings.php
  - php -l ./LocalSettings.php
  - php maintenance/update.php --quick

script:
  - php tests/phpunit/phpunit.php extensions/AWS/tests/phpunit/
